/* .book-data{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}
.book-data .book {
    text-align: left;
    width: 400px;
}

.book img{
    width: 100px;
}

.book h3{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: -10px;
}

.book h4{
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
} */